<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      TO-DO LIST
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <ion-list>
    <ion-list-header>
      <ion-label>
        <h2>Todas las tareas</h2>
      </ion-label>
    </ion-list-header>
    <div *ngFor="let activity of activities; index as i">
      <ion-item-sliding (ionSwipe)="changeStatus(i)">
         <ion-item>
          <ion-avatar slot="start">
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-avatar>
          <ion-label>
            <h3>{{activity.name}}</h3>
            <p>{{activity.date}}</p>
            <p>{{activity.detail}}</p>
          </ion-label>
          <ion-chip color="success"  *ngIf="!activity.status">
            <ion-label>Realizado</ion-label>
          </ion-chip>
          <ion-chip color="danger"  *ngIf="activity.status">
            <ion-label>Sin realizar</ion-label>
          </ion-chip>
          
        </ion-item>

        <ion-item-options>
         </ion-item-options>
      </ion-item-sliding>
   
    </div>
  </ion-list>
  <ion-button expand="block" (click)="newActivity()">Agregar Actividad</ion-button>
</ion-content>
